-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "lodges" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "region" TEXT NOT NULL,
    "ecosystem" TEXT NOT NULL,
    "budget_tier" TEXT NOT NULL,
    "pairs_well_with" TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "lodges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lodge_experience_dna" (
    "id" TEXT NOT NULL,
    "lodge_id" TEXT NOT NULL,
    "emotional_tone" TEXT[],
    "energy_type" TEXT[],
    "experience_pace" TEXT NOT NULL,
    "comfort_philosophy" TEXT[],
    "journey_role" TEXT NOT NULL,
    "ideal_travelers_primary" TEXT[],
    "ideal_travelers_secondary" TEXT[],
    "intensity_score" INTEGER NOT NULL,
    "relaxation_score" INTEGER NOT NULL,
    "authenticity_score" INTEGER NOT NULL,
    "premium_score" INTEGER NOT NULL,
    "social_dynamic" TEXT NOT NULL,
    "travel_fatigue" TEXT NOT NULL,

    CONSTRAINT "lodge_experience_dna_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lodge_narrative" (
    "id" TEXT NOT NULL,
    "lodge_id" TEXT NOT NULL,
    "why_chosen" TEXT NOT NULL,
    "best_used_for" TEXT NOT NULL,
    "less_suitable_for" TEXT NOT NULL,
    "journey_position_note" TEXT NOT NULL,

    CONSTRAINT "lodge_narrative_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_questions" (
    "id" TEXT NOT NULL,
    "prompt" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "optional" BOOLEAN NOT NULL DEFAULT false,
    "sort_order" INTEGER NOT NULL,

    CONSTRAINT "onboarding_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_question_options" (
    "id" TEXT NOT NULL,
    "question_id" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "sort_order" INTEGER NOT NULL,

    CONSTRAINT "onboarding_question_options_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "travelers" (
    "id" TEXT NOT NULL,
    "email" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "travelers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onboarding_sessions" (
    "id" TEXT NOT NULL,
    "traveler_id" TEXT,
    "answers" JSONB NOT NULL,
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "onboarding_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "traveler_profiles" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "archetype_primary" TEXT NOT NULL,
    "archetype_secondary" TEXT NOT NULL,
    "dimensions" JSONB NOT NULL,
    "comfort_philosophy" TEXT NOT NULL,
    "hidden_intent" TEXT NOT NULL,
    "budget_tier" TEXT NOT NULL,
    "trip_duration" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "traveler_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journey_blueprints" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "identity_title" TEXT NOT NULL,
    "journey_theme" TEXT NOT NULL,
    "journey_philosophy" TEXT NOT NULL,
    "compass" JSONB NOT NULL,
    "why_this_fits" TEXT NOT NULL,
    "summary" JSONB NOT NULL,
    "ai_enriched" BOOLEAN NOT NULL DEFAULT false,
    "share_slug" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "journey_blueprints_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journey_chapters" (
    "id" TEXT NOT NULL,
    "blueprint_id" TEXT NOT NULL,
    "lodge_id" TEXT NOT NULL,
    "day_range" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "region" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "highlights" TEXT[],
    "order" INTEGER NOT NULL,

    CONSTRAINT "journey_chapters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "experience_cards" (
    "id" TEXT NOT NULL,
    "blueprint_id" TEXT NOT NULL,
    "lodge_id" TEXT NOT NULL,
    "tags" TEXT[],
    "emotional_description" TEXT NOT NULL,
    "why_selected" TEXT[],
    "tier" TEXT NOT NULL,
    "order" INTEGER NOT NULL,

    CONSTRAINT "experience_cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leads" (
    "id" TEXT NOT NULL,
    "blueprint_id" TEXT,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "channel" TEXT NOT NULL,
    "message" TEXT,
    "status" TEXT NOT NULL DEFAULT 'new',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leads_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "lodge_experience_dna_lodge_id_key" ON "lodge_experience_dna"("lodge_id");

-- CreateIndex
CREATE UNIQUE INDEX "lodge_narrative_lodge_id_key" ON "lodge_narrative"("lodge_id");

-- CreateIndex
CREATE UNIQUE INDEX "travelers_email_key" ON "travelers"("email");

-- CreateIndex
CREATE UNIQUE INDEX "traveler_profiles_session_id_key" ON "traveler_profiles"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "journey_blueprints_session_id_key" ON "journey_blueprints"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "journey_blueprints_share_slug_key" ON "journey_blueprints"("share_slug");

-- AddForeignKey
ALTER TABLE "lodge_experience_dna" ADD CONSTRAINT "lodge_experience_dna_lodge_id_fkey" FOREIGN KEY ("lodge_id") REFERENCES "lodges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lodge_narrative" ADD CONSTRAINT "lodge_narrative_lodge_id_fkey" FOREIGN KEY ("lodge_id") REFERENCES "lodges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onboarding_question_options" ADD CONSTRAINT "onboarding_question_options_question_id_fkey" FOREIGN KEY ("question_id") REFERENCES "onboarding_questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onboarding_sessions" ADD CONSTRAINT "onboarding_sessions_traveler_id_fkey" FOREIGN KEY ("traveler_id") REFERENCES "travelers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "traveler_profiles" ADD CONSTRAINT "traveler_profiles_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "onboarding_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journey_blueprints" ADD CONSTRAINT "journey_blueprints_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "onboarding_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journey_chapters" ADD CONSTRAINT "journey_chapters_blueprint_id_fkey" FOREIGN KEY ("blueprint_id") REFERENCES "journey_blueprints"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journey_chapters" ADD CONSTRAINT "journey_chapters_lodge_id_fkey" FOREIGN KEY ("lodge_id") REFERENCES "lodges"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "experience_cards" ADD CONSTRAINT "experience_cards_blueprint_id_fkey" FOREIGN KEY ("blueprint_id") REFERENCES "journey_blueprints"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "experience_cards" ADD CONSTRAINT "experience_cards_lodge_id_fkey" FOREIGN KEY ("lodge_id") REFERENCES "lodges"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "leads" ADD CONSTRAINT "leads_blueprint_id_fkey" FOREIGN KEY ("blueprint_id") REFERENCES "journey_blueprints"("id") ON DELETE SET NULL ON UPDATE CASCADE;

